@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* *{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
} */

.popup-valid-others .mapboxgl-popup-content {
	color: #7a7a7a;
    background-color: #646464; /* 중립적인 파란색 */
    border-color: #2C3E50;
    box-shadow: 3px 3px 2px #2C3E50;
	width: 200px;
}

.popup-valid-target .mapboxgl-popup-content {
	color: #ffffff;
    background-color: #da4213; 
    border-color: #C0392B;
	box-shadow: 3px 3px 2px #491c1c;
	width: 200px;
}

.mapboxgl-popup-close-button{
	display:none;
}

#marker1 {
	background-image: url('/marker1.png');
	background-size: cover;
	width: 150px;
	height: 150px;
}
#marker2 {
	background-image: url('/marker2.png');
	background-size: cover;
	width: 150px;
	height: 150px;
}
#marker3 {
	background-image: url('/marker3.png');
	background-size: cover;
	width: 150px;
	height: 150px;
}
#marker4 {
	background-image: url('/marker4.png');
	background-size: cover;
	width: 150px;
	height: 150px;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
