@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */

@font-face {
	font-family: 'Pretendard-Regular';
	font-weight: 400;
	font-display: swap;
	src: url(/font/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard-ExtraBold';
	font-weight: 400;
	font-display: swap;
	src: url(/font/Pretendard-ExtraBold.woff2) format('woff2');
}


body {
	font-family: Arial, Helvetica, sans-serif;
}

/* *{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
} */

.popup-valid-others .mapboxgl-popup-content {
	color: #7a7a7a;
    background-color: #646464; /* 중립적인 파란색 */
    border-color: #2C3E50;
    box-shadow: 3px 3px 2px #2C3E50;
	width: 200px;
	font-family: Pretendard-Regular;
}

.popup-valid-target .mapboxgl-popup-content {
	color: #ffffff;
    background-color: #da4213; 
    border-color: #C0392B;
	box-shadow: 3px 3px 2px #491c1c;
	width: 200px;
	font-family: Pretendard-Regular;
}

.mapboxgl-popup-close-button{
	display:none;
}

#marker1 {
	background-image: url('/marker1.png');
	background-size: cover;
	width: 200px;
	height: 200px;
}
#marker2 {
	background-image: url('/marker2.png');
	background-size: cover;
	width: 200px;
	height: 200px;
}
#marker3 {
	background-image: url('/marker3.png');
	background-size: cover;
	width: 200px;
	height: 200px;
}
#marker4 {
	background-image: url('/marker4.png');
	background-size: cover;
	width: 200px;
	height: 200px;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade-in {
	animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
  
.faded-bottom {
	--mask: linear-gradient(to bottom, 
		rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 90%, 
		rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
	) 100% 50% / 100% 100% repeat-x;
	
	-webkit-mask: var(--mask); 
	mask: var(--mask);

}

.faded-top {
	--mask: linear-gradient(to bottom, 
		rgba(0,0,0, 0) 0,   rgba(0,0,0, 1) 10%, 
		rgba(0,0,0, 1) 100%, rgba(0,0,0, 1) 0
	) 100% 50% / 100% 100% repeat-x;
	
	-webkit-mask: var(--mask); 
	mask: var(--mask);
}

.faded-elipse {
    filter: blur(20px); /* blur radius can be adjusted to achieve the desired effect */
    border-radius: 50%; /* to make it an ellipse */
	opacity: 30%;
}