@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-display: swap;
  src: url(/font/Pretendard-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  font-weight: 400;
  font-display: swap;
  src: url(/font/Pretendard-ExtraBold.woff2) format("woff2");
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.popup-valid-others .mapboxgl-popup-content {
  color: #7a7a7a;
  background-color: #646464; /* 중립적인 파란색 */
  border-color: #2c3e50;
  box-shadow: 3px 3px 2px #2c3e50;
  width: 200px;
  font-family: Pretendard-Regular;
}

.popup-valid-target .mapboxgl-popup-content {
  color: #ffffff;
  background-color: #da4213;
  border-color: #c0392b;
  box-shadow: 3px 3px 2px #491c1c;
  width: 200px;
  font-family: Pretendard-Regular;
}

.mapboxgl-popup-close-button {
  display: none;
}

#marker1 {
  background-image: url("/marker1.png");
  background-size: cover;
  width: 200px;
  height: 200px;
}
#marker2 {
  background-image: url("/marker2.png");
  background-size: cover;
  width: 200px;
  height: 200px;
}
#marker3 {
  background-image: url("/marker3.png");
  background-size: cover;
  width: 200px;
  height: 200px;
}
#marker4 {
  background-image: url("/marker4.png");
  background-size: cover;
  width: 200px;
  height: 200px;
}

.cover {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("/cover.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* 이미지가 요소를 완전히 덮도록 조정 */
}

.attach-image {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-image: url("/background.png"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* 이미지가 요소를 완전히 덮도록 조정 */
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faded-bottom {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.faded-top {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 1) 0
    )
    100% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.faded-both {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0.7) 100%
  );
  filter: blur(10px); /* Adjust blur intensity as needed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
.faded-bottom {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.faded-top {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 100%
  );
}
*/
.faded-elipse {
  filter: blur(
    20px
  ); /* blur radius can be adjusted to achieve the desired effect */
  border-radius: 50%; /* to make it an ellipse */
  opacity: 30%;
}

/*
p::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 1.2em;
  transform: translate(-50%, -50%);
  z-index: -1; /* 텍스트 뒤에 위치하게 만듦
  filter: blur(20px);
  border-radius: 50%;
  opacity: 30%;
  background-color: rgba(0, 0, 0, 1);
}
*/

/* 부모 요소가 상대적 위치를 갖도록 설정 */
p {
  position: relative;
  z-index: 5;
  /* margin: 20px 0; */
}

.line-wrapper {
  position: relative;
  display: inline-block; /* 텍스트 줄바꿈에 맞추기 */
  z-index: 7;
}

.line-wrapper::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 1em;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(1rem);
  border-radius: 40%;
  opacity: 30%;
  background-color: rgba(0, 0, 0, 1);
  pointer-events: none;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.grow-animation {
  @apply animate-grow;
}

.animate-grow {
  animation: grow 60s forwards; /* 3 seconds duration and forwards to retain the final state */
}
